.Header {
  font-family: "Titillium Web", sans-serif;
  font-weight: normal;
  letter-spacing: 0.5pt;
  img {
    width: 40px;
    vertical-align: middle;
    display: inline-block;
    margin: -10px 8px -5px 0;
  }
  a {
    color: #fff;
    text-decoration: none;
  }
}
