.Word {
  h3 {
    padding-bottom: 10px;
    border-bottom: 2px solid #ccf;
    margin-bottom: 20px;
  }
  h4 {
    padding-bottom: 5px;
    border-bottom: 2px solid rgba(#ccf, 0.5);
    margin-bottom: 10px;
  }
}
