.body {
  background-color: rgb(53, 48, 48);
  position: absolute;
  left: 20%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 450px;
  width: 400px;
  border-radius: 3%;
  color: white;
}
